p {
    margin: 0;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

.content {
    background-color: darkgray;
    padding: 10px;
    width: 70%;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    margin: 10px 0;
}

.btn {
    width: 67px;
}

.updateBtn {
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.deleteBtn {
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.txt {
    width: 50%;
    height: 40px;
    font-size: 20px;
}

.addBtn {
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}